{% extends 'apps/auth/base.html' %}

{% block title %}
    Login page
{% endblock %}

{% block main_content %}
    <div class="login-right">
        <div class="login-right-wrap">
            <h1>Login</h1>
            <p class="account-subtitle">Access to our dashboard</p>
            <form action="{% url 'login_page' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Login</button>
                </div>
            </form>
            <div class="text-center forgotpass"><a href="forgot-password.html">Forgot Password?</a></div>
            <div class="login-or">
                <span class="or-line"></span>
                <span class="span-or">or</span>
            </div>
            <div class="social-login">
                <span>Login with</span>
                <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a><a href="#" class="google"><i
                    class="fab fa-google"></i></a>
            </div>
            <div class="text-center dont-have">Don’t have an account? <a href="{% url 'register_page' %}">Register</a>
            </div>
        </div>
    </div>
{% endblock %}