{% extends 'apps/auth/base.html' %}

{% block title %}
    Register Page
{% endblock %}

{% block main_content %}
    <div class="login-right">
        <div class="login-right-wrap">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger">
                        {{ message|safe|escape }}
                    </div>
                {% endfor %}
            {% endif %}

            <h1>Register</h1>
            <p class="account-subtitle">Access to our dashboard</p>

            <form action="{% url 'register_page' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password1" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password2" placeholder="Confirm Password">
                </div>
                <div class="form-group mb-0">
                    <button class="btn btn-primary btn-block" type="submit">Register</button>
                </div>
            </form>

            <div class="login-or">
                <span class="or-line"></span>
                <span class="span-or">or</span>
            </div>

            <div class="social-login">
                <span>Register with</span>
                <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a><a href="#"
                                                                                     class="google"><i
                    class="fab fa-google"></i></a>
            </div>

            <div class="text-center dont-have">Already have an account? <a href="{% url 'login_page' %}">Login</a></div>
        </div>
    </div>
{% endblock %}