<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

<a href="{% url 'index' %}">Product listini korish</a>


<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    {% for category in categories %}
        <tr>
            <td>{{ category.pk }}</td>
            <td>{{ category.name }}</td>
        </tr>
    {% endfor %}

</table>
</body>
</html>